*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.sln
GameProject/x64/
GameProject/SDL2_ttf-2.0.18/
GameProject/SDL2_mixer-2.0.4/
GameProject/SDL2_image-2.0.5/
GameProject/SDL2-2.0.8/
GameProject/SDL2-2.0.20/
GameProject/.vs
.vs/
*.vcxproj
